[2018-04-28 11:01] hispanico opened #1 "Test project board"
Testing

[2018-04-28 11:07] hispanico opened #2 "Test issue without set project"
test

[2018-04-28 11:10] #1 closed

[2018-04-28 14:02] nemesifier commented on #2
testing integration with IRC and gitter

[2018-04-28 14:05] nemesifier commented on #2
Closing again

[2018-04-28 14:11] nemesifier commented on #2
Again, sorry.

[2018-04-28 14:12] nemesifier commented on #2
Finally, integration completed.

[2018-04-28 14:12] #2 closed

[2018-05-09 06:53] anurag-ks opened #3 "Initial project structure"
Start with creating a basic model for IP address and Subnets, the main aim would be get a running django reusable app for django-ipam which would be our starting point.

[2018-05-09 07:04] anurag-ks opened #4 "Add tools for code conventions and styles"
Add flake8, isort, etc files to monitor proper coding style throughout the development phase.

[2018-05-15 13:18] anurag-ks opened #6 "IP Request Module"
This feature would allow users to request an IP address from a specific subnet. For this we would query for the first unused IP address belonging to our selected subnet with the help of Django’s QuerySet API.
```Subnet.objects.filter(ip_address__used=false)[:1].get()```

[2018-05-15 14:11] #4 closed

[2018-05-15 14:54] anurag-ks opened #7 "Improve the IPAddress and Subnet models"
Currently we have a very primitive database structure, which we need to improve while taking inspiration from phpipam.

Following could be a tentative structure of the models  -

- IP address field
- Short Description
- Owner
- Gateway
- Host
- Netmask
- Device
- Subnet (ORM relationship to be used over here)
- Used - (to check if the ip address has been taken or not, will have to figure out how t

[2018-05-15 15:46] anurag-ks opened #8 "Update README file"
Add short description, build status badge, how to setup and run tests.

[2018-05-15 18:28] anurag-ks opened #10 "RESTful API for django_ipam"
Create a RESTful api for django_ipam by using [DRF](http://www.django-rest-framework.org)

- Implement CRUD operations for database models,
- Filtering
- Paginations
- Include related test cases as well.

[2018-05-18 07:36] #8 closed

[2018-05-18 08:24] anurag-ks opened #12 "Automatic free space display for Subnets"
Implement a plotly chart for subnets on the admin page. We can make use of python library for plotly and return the HTML part for the chart from the specific admin view itself.

[2018-05-20 08:51] nemesisdesign opened #13 "Model validation"
We should add some basic model validation:

- [x] prevent saving an ip address which is not part of the specified subnet, test saving ip `192.168.1.1` on subnet `10.0.0.0/24`, add a similar test for ipv6 too
- [x] how do you specify the network on a subnet? We need to validate that the prefix inserted is valid as well. I think you could add two fields to the subnet model: network and prefix, netwo

[2018-05-22 08:38] nemesifier commented on #13
The last one is particularly tricky and we may not be able to implement it quickly with the current setup. Focus on addressing all the previous points in #11.

[2018-05-28 14:19] #13 closed

[2018-06-12 11:52] anurag-ks opened #17 "[general/admin] Possibility to search for an IP or subnet"

[2018-06-12 11:53] anurag-ks opened #18 "[subnet] CSV Import and Export of subnets and their IPs"

[2018-06-12 19:37] nemesisdesign opened #19 "[docs] Improve development install instructions"
The information on how to run the development server is missing.

[2018-06-13 13:07] nemesisdesign opened #21 "[admin/models] Implement nested subnets"
@hispanico what is the purpose of the master subnet field?

Right now I think the current implementation doesn't really do much with it, infact I can select pretty much any rubbish value and the system will accept it. Implementing this correctly will take effort because we'll also probably need to have any subnet which is flagged as master (by another subnet) to show part of its address space occu

[2018-06-14 07:18] #12 closed

[2018-06-16 11:13] #19 closed

[2018-06-21 11:36] nemesisdesign opened #24 "[request-ip] Add possibility to save ip and return its serialized version"
The current API endpoint only returns the first available IP.

I thought we were going to create a new IP model instance as well, because that's what we need in some cases.

Therefore, in order to achieve what we need in some cases, we should do the following:

- let's rename what you have done until now to `get-first-available-ip` (API) and `get_first_available_ip()` method
- use `GET` for the AP

[2018-06-21 11:40] nemesifier commented on #21
I'd say just remove `master_subnet` and all its related logic because we don't have time to implement this right now, we need to hurry up to implement #19, #17 and #10 and move on to integrate this module with the rest of OpenWISP 2.

[2018-06-22 07:11] nemesisdesign opened #26 "[models] Owner field"
This is another field we have added but we are not using in the code nor we are planning to use it right now.

I don't like this sort of dead useless code, imagine other people will come after us to maintain this project, they will think: what does this thing do? Can I use it somehow? Should I remove it? Should I reimplement it?

I think that we should either define what's the purpose of this or r

[2018-06-22 11:46] anurag-ks commented on #26
I think we can reimplement this field later on, as we are not using it specifically anywhere else, in my latest PR #25, I have removed the field.

[2018-06-26 16:41] #24 closed

[2018-06-28 09:49] hispanico commented on #21
I'm totally agree, the master subnet with nested subnets cloud be implemented in the future.

[2018-07-04 12:50] hispanico opened #28 "Handle invalid IPv4 or IPv6"
If I try to add an invalid IPv4 or IPv6 subnet/IPaddrress, I got this error:
![image](https://user-images.githubusercontent.com/3329032/42277521-e97b3640-7f97-11e8-8748-9423d9e9d6ae.png)

Should be handled and return an error message like "Invalid IP address"

[2018-07-04 13:33] nemesifier commented on #28
@anurag-ks I confirm this happens but only when adding a new ip address, changing an existing address works as expected.

[2018-07-04 16:03] anurag-ks commented on #28
This is weird, the default validations are not getting called before the custom validations that were made for these models, I have added an `if` condition in the following PR - #27 which fixes this error. @nemesisdesign do review it as well.

[2018-07-04 17:15] nemesifier commented on #28
@anurag-ks please don't mix things up or you will confuse me.
Create a separate patch for this issue with a failing test that replicates the issue and the fix.

[2018-07-05 10:05] #6 closed

[2018-07-06 11:00] #28 closed

[2018-07-12 10:44] nemesisdesign opened #32 "[API] Pagination"
The list views need pagination.

[2018-07-12 10:46] nemesisdesign opened #33 "[API] get_first_available_ip is not reusable"
The `get_first_available_ip`  view should become reusable and be added to the README.

The **incredible thing is that the tests in the sample app are not failing**, which makes me think they are useless right now.

[2018-07-12 10:54] nemesifier commented on #33
The tests for the sample_app were not being run by travis. Now they are: https://travis-ci.org/openwisp/django-ipam/builds/403059179.

[2018-07-13 10:23] nemesisdesign opened #34 "[docs] Write compatibility"
Write in the README the minimum version of django and python required.

[2018-07-13 10:25] nemesisdesign opened #35 "[docs] Clean up README"
- list available features
- explain how the most important features work
- add the openwisp logo in the beginning
- add screenshots

[2018-07-13 11:03] nemesifier commented on #21
@hispanico shall we start defining how to implement this feature?

- what happens if a user tries to create a new subnet which is part of an existing subnet? Does the system propose to make the new subnet a child of the parent subnet?
- how does the visualization of address allocation take master subnets into account?
- how does the visualization of address allocation take children subnets into ac

[2018-07-13 11:24] nemesifier commented on #17
Allowing to search via the admin is trivial and you should do it asap.

Also take advantage of this chance to improve the list of subnets and ip addresses to add more fields to `list_display`.

[2018-07-16 09:18] anurag-ks commented on #21
The python's ipaddress module provides some helpful functions, like `subnet_of`, `supernet`, etc. which we can use while implementing nested subnet feature.
Source - https://docs.python.org/3/library/ipaddress.html#ip-network-definitions

[2018-07-16 10:09] hispanico commented on #21
The system should be show  a message to explain the issue:
- Subnet overlaps
![image](https://user-images.githubusercontent.com/3329032/42753246-91a86174-88f0-11e8-9e35-080d585e3dfe.png)
- Nested subnet not in root subnet
![image](https://user-images.githubusercontent.com/3329032/42753269-a5218e92-88f0-11e8-8dff-11ce4b0be927.png)

When a subnet has at least one nested subnet, the visualization sho

[2018-07-18 09:54] #18 closed

[2018-07-18 10:09] nemesifier commented on #32
@anurag-ks use one the standard DRF pagination methods please

[2018-07-19 04:52] okraits opened #38 "[admin] Improvement of the subnet import page"
The subnet csv import page `/admin/django_ipam/subnet/import/` is missing some common elements which most/all other pages have:

* the "session management area": `Welcome, user. Change password / Log out`
* the breadcrumbs navigation: `Home › IPAM › Ip addresss › Import subnet`
* a `Back` or `Cancel` button.

[2018-07-20 08:09] #17 closed

[2018-07-20 08:12] nemesisdesign opened #39 "[migrations] Use human readable migration file names"
Remember to use migration file names that are human readable, eg: `0003_index_subnet_name.py` instead of `0003_auto_20180719_1849.py`.

At this stage (since the project is unreleased and we expect no one to be using it in production) you could also simply delete the migrations and create only the initial migration file, eg:

[code]

[2018-07-25 09:03] #33 closed

[2018-07-27 09:21] #38 closed

[2018-07-29 17:18] #39 closed

[2018-07-30 09:00] #34 closed

[2018-07-30 09:00] #35 closed

[2018-08-03 14:29] hispanico opened #46 "[test] django-extensions>=2.0.7 missing in requirement.txt"
Following the install development steps I get this error:
~/django-ipam/tests# ./manage.py migrate
Traceback (most recent call last):
  File "./manage.py", line 8, in <module>
    execute_from_command_line(sys.argv)
  File "/usr/local/lib/python3.6/dist-packages/Django-2.0.8-py3.6.egg/django/core/management/__init__.py", line 371, in execute_from_command_line
    utility.execute()
  File "/usr/loc

[2018-08-06 08:19] nemesifier commented on #46
@hispanico use `pip install -r requirements-test.txt`. See: https://github.com/openwisp/django-ipam/blob/master/requirements-test.txt. @anurag-ks you should advise to do that also in the `Install Development Version` which should be named `Install for Development` or something similar.

[2018-08-08 14:35] anurag-ks opened #48 "Refactor test cases to support custom models"
While extending [openwisp-ipam](https://github.com/openwisp/openwisp-ipam), I added `OrgMixin` from the `openwisp-users`, which basically adds an organization field to the Subnet and IpAddress tables. The test cases which involved data creation are failing as the `organization` field is required.

[2018-08-08 16:03] nemesifier commented on #48
@anurag-ks remember all those `_create_<model-name>` method I made you write? You can now extend those and pass the organization there, see how it's done in openwisp-controller: https://github.com/openwisp/openwisp-controller/blob/master/openwisp_controller/config/tests/__init__.py#L17-L22

This will most likely need some modifications to the django-ipam test suite, Rohith has done something simil

[2018-08-10 11:31] #48 closed

[2018-08-11 14:38] #46 closed

[2018-08-11 15:48] anurag-ks commented on #21
@nemesisdesign @hispanico  the subnet and master subnet validation checks are done on my local branch, but I am not sure about the visualizations, how do they work in case of master subnet and subnets, could explain a bit more?

[2018-08-12 17:30] hispanico commented on #21
The master subnet view, in case of nested subnets, shows the child subnets instead of the ip address.
See the following image:
![image](https://user-images.githubusercontent.com/3329032/44004659-142df098-9e66-11e8-83af-d32f12d44eb0.png)

[2018-08-12 18:18] hispanico opened #51 "[API] No checking overlap subnet"
It's possible create overlapping subnets or multiple cloned subnet via api: "/api/v1/subnet/".

![image](https://user-images.githubusercontent.com/3329032/44005029-cb003564-9e6c-11e8-8ed3-b05c2cb1b76e.png)

[code]

[2018-08-15 06:23] anurag-ks commented on #51
@hispanico @nemesisdesign I have sent a PR for this issue. #52

[2018-08-16 18:08] #51 closed

[2018-08-16 18:10] nemesisdesign opened #53 "Import BaseSerializer from openwisp-utils"
**Reserved for GCI**

- Import DRF base serializer from openwisp-utils (implemented in https://github.com/openwisp/openwisp-utils/issues/12)
- remove the `validate` method from the serializers of django-ipam

[2018-11-04 12:48] nemesisdesign opened #55 "[requirements] Upgrade dependencies and add requires.io badge"
**Reserved for GCI**

- check the outdated dependencies on https://requires.io/github/openwisp/django-ipam/requirements/
- upgrade the dependencies in the requirement files
- ensure all tests pass, if there's any failure please fix it
- add the same requirements badge from requires.io as we have in the other openwisp modules
- send a pull request

[2018-11-11 15:43] #55 closed

[2018-11-20 12:56] #53 closed

[2018-11-25 11:28] nemesisdesign opened #59 "[qa] Avoid leaving test files after tests"
**Reserved for GCI**

After running tests a test csv file is left on the filesystem.

- configure the `settings.py` test environment so that media files are uploaded to `./tests/media/`
- add `./tests/media/*` to `.gitignore`
- make sure `./tests/media/` is cleaned up during `tearDown`

[2018-11-26 19:37] cking100 commented on #59
@nemesisdesign could you please elaborate the 3rd point and what do you mean by teardown?

[2018-11-26 21:43] nemesifier commented on #59
@cking100 https://docs.python.org/3/library/unittest.html#unittest.TestCase.tearDown

[2018-12-01 22:00] #59 closed

[2018-12-02 19:58] 1871vinayak opened #62 "[qa] Cleanup isort and flake8 settings in an OpenWISP module"

[2018-12-04 13:33] 1871vinayak opened #64 "[qa] Added commit message style check"
[qa] Added commit message style check

[2018-12-04 19:52] #62 closed

[2018-12-05 07:13] atb00ker commented on #64
What is the status on this? :smile:

[2018-12-09 10:38] #64 closed

[2018-12-20 10:20] atb00ker opened #66 "[bug] Subnet page for `/8` or `/16` are not accessible"
The subnet information page for `/8` or `/16` networks is not accessible.
The reason seems to be that there are too many ip adresses in one page hence loading all of them cause the site to not respond.

[2018-12-20 10:20] atb00ker commented on #66
A possible solution would be to introduce pagination.

[2019-01-03 19:47] atb00ker commented on #21
**Update:**
Implemented the hierarchical network view for subnets.
Implementing the same for IPv6, please review and suggest accordingly. :smile:
![yay](https://user-images.githubusercontent.com/24985760/50658162-7a34e300-0fbe-11e9-8c10-6cc287e67ecc.png)

[2019-01-14 18:10] unsuitable001 opened #69 "Invalid HTTP_HOST header: '127.0.0.1:8000'"
People are getting `Invalid HTTP_HOST header: '127.0.0.1:8000'. You may need to add '127.0.0.1' to ALLOWED_HOSTS` when they try to access `127.0.0.1` instead of `localhost`
I'll add `127.0.0.1` to `ALLOWED_HOSTS`

[2019-01-16 23:33] #69 closed

[2019-01-18 17:20] nemesifier commented on #66
@atb00ker pagination could work, @hispanico what do you think? Have you tried the same with phpipam?

[2019-01-22 23:21] nemesifier commented on #21
@atb00ker that looks great! Is a PR already open for that?

[2019-01-23 22:19] NoumbissiValere commented on #66
@atb00ker i wish to address this issue. can you tell me the file(s) am suppose to look at?  thanks.

[2019-01-24 01:27] NoumbissiValere commented on #66
i have been able to identify the files and how they function. but am unable to make the pagination_class instance of ListViewPagination class has its effect in the subnet_list_ipaddress page. please can you help me with that?

[2019-01-24 07:58] atb00ker commented on #66
Please share the error that you are having and what action is causing that problem, that will help me help you debug the problem! :smile:

[2019-01-24 22:05] NoumbissiValere commented on #66
@atb00ker i have applied the pagination and the information page for /16 can be viewed. but that of /8 is not still loading. but i think if i can supply an optimum pagination size (a page size that will work for both /8 and /16), the problem will be solved. I am not able to find this optimum pagination size please can you help me with that? thanks.

[2019-01-25 07:46] NoumbissiValere commented on #66
@atb00ker  can i send the commit of what i have done so that you can see what i'am talking about?

[2019-01-25 08:27] atb00ker commented on #66
@NoumbissiValere Yes, that'll be great! Please open a pull request marked as WIP!
I think the optimum size will be 255 IPs per page, as it's working for the small networks! :smile:

[2019-01-25 08:29] NoumbissiValere commented on #66
ok. do that right away

[2019-01-27 09:32] atb00ker commented on #66
@nemesisdesign @NoumbissiValere

Thanks to @NoumbissiValere 's work here #71 , i've tried some diagnosis as it turns out:
[code]
Is taking a lot of time since very high number of hosts are present in larger networks. ( `/10` or above )!

What do you think should be our approach here? :smile:

To begin with, i'll look into phpipam's implementation and get back here as soon as possible! :smile:

[2019-01-27 18:45] NoumbissiValere commented on #66
ok @atb00ker . This i what i had in mind:
What we are presently doing is Fix length subnetting with which it's possible to have millions of IP addresses in a subnet which a network Engineer who knows his work should never do because his subnet will be tooooo big and difficult to manage.

[2019-01-27 18:48] NoumbissiValere commented on #66
I will propose us to use Variable length subneting(VLSM). with this approach, subnets are created as per the number of hosts who will be present in the subnet.

[2019-01-27 18:52] NoumbissiValere commented on #66
with this approach, when a user supply his network address, the system will ask him how many host will be present in this subnet he wishes to create. with the data provided, django-ipam will subnet the network address supplied just for that amount of hosts and the remains from this can be used to do another subnet with number of hosts provided

[2019-01-27 18:59] NoumbissiValere commented on #66
so for example if a user supply a network address as 10.0.0.0/8, and requires a subnet of say 500 users, the system will provide a subnet with just this amount of users. and now the remaining network address after the subnet say 10.0.1.30/14 (i have not done the calculation so that network address might not be correct) can be use as the network address for a new subnet which will have specific num

[2019-01-27 19:11] NoumbissiValere commented on #66
now when it comes to viewing the ip addresses, the user will select the subnet for which he wishes to view ip addresses and the system will display to him only IP addresses for that subnet. and he might do same for the other subnets and view their Ip addresses. with this approach, we can not expect a subnet of /8 because no network engineer will create a single subnet with 16,777,214 users because

[2019-01-27 19:14] NoumbissiValere commented on #66
and as we can see from the example above, we are creating nested subnet since a subnet can be created from the remains of another. and equally a subnet can be modified by modifying the number of hosts in that subnet (ofcourse less than the actually one) this will result to the creation of a subnet in a subnet in a subnet which increases the level of nesting. this is possible because this is the ve

[2019-01-27 19:21] NoumbissiValere commented on #66
Thus this proposal will not only solve the /8 and /16 not accessible and the nested subnets problems we had identified, but it will equally increase the performance of the system.

[2019-01-27 19:22] NoumbissiValere commented on #66
@atb00ker  and @nemesisdesign what do you think about the proposal.

[2019-01-27 19:26] NoumbissiValere commented on #66
Am a networking student who love and is passionate about programming so if this proposal is accepted, i will love to propose it as my GSoC 2019 project. i understand very well the concept of subneting and VLSM in particular so i believe i can solve it. more over it will increase my skills and make me learn more.

[2019-02-05 00:16] nemesisdesign opened #74 "[models] Subnet.__str__ should return also subnet name"
`Subnet.__str__` should return also subnet name.

[2019-02-05 00:19] nemesisdesign opened #75 "[admin] Use auto-complete relations instead of selects"
The relations to subnets should be displayed as auto-complete fields instead of selects, because when the database is well populated loading all the subnets would become too slow.

[2019-02-05 13:01] NoumbissiValere commented on #74
yes good idea. since a human will more likely read and remember a name than an IP address. will look on this issue

[2019-02-11 07:50] pacicap commented on #75
I am interested in working on this issue please can someone guide me on how to get started? i am new

[2019-02-12 16:52] nemesifier commented on #75
@pacicap https://docs.djangoproject.com/en/2.1/ref/contrib/admin/#django.contrib.admin.ModelAdmin.autocomplete_fields

[2019-02-12 23:46] pacicap commented on #75
Thanks nemesisdesign for the reply will work on that right away

[2019-03-12 06:21] jeffysam6 commented on #74
can i take up this issue?

[2019-03-13 10:51] atb00ker commented on #74
Hello @jeffysam6 , looks like a pull request is already open for this one.

@NoumbissiValere can you please mark your pull request with this issue number so that other developers can know about it.
Thanks! :smile:

[2019-04-02 01:18] #75 closed

[2019-04-02 01:18] #74 closed

[2019-04-02 22:54] nemesisdesign opened #78 "[django] Add support for django 2.2"
Add support for django 2.2

[2019-11-12 05:59] DaffyTheDuck commented on #78
Hello ! is anyone working on this issue ?

[2019-11-12 06:10] atb00ker commented on #78
No, but I think it's an easy issue and I should add it for GCI, what do you think? :smile:

[2019-11-12 17:29] DaffyTheDuck commented on #78
Yeah, Just Like Dropping Support Of Python2 😄

[2019-11-12 17:30] DaffyTheDuck commented on #78
I Was Thinking About That As Well 😄

[2019-11-12 18:35] atb00ker opened #79 "[requirements] Update dependencies"
We need to update all the dependencies including update to django 3.0

[2019-11-13 17:48] IAmAMissingColon commented on #79
Can I Work On This Issue ??? 😁

[2019-11-23 17:07] DaffyTheDuck commented on #78
Hello!
https://github.com/IAmAMissingColon/django-ipam/commit/732d62c082a63bd7855960b7ddb8957fa334cb1a

Am I doing right ?

[2019-12-01 09:10] IAmAMissingColon opened #81 "[travis] segmentation fault"
while updating dependencies and django(2.2), error occurs in travis-ci `coverage run --source=django_ipam runtests.py" exited with 139.` Which is a **Segmentation fault.**. After searchig for the fix, I found that this error could be related to SQLite3..

* The travis-ci error : https://travis-ci.org/openwisp/django-ipam/builds/617307974?utm_source=github_status&utm_medium=notification

* Issue :

[2019-12-01 11:56] pandafy commented on #81
I checked with distribution set to Trusty and it passed as well. [Travis logs for Trusty](https://travis-ci.com/TheOneAboveAllTitan/django-ipam/builds/138774994)

SQLite version installed for Trusty is 3.8.2, which can be checked in [Travis logs here](https://travis-ci.com/TheOneAboveAllTitan/django-ipam/jobs/261762765#L463)

[2019-12-19 08:03] gthieleb opened #84 "Qualified DNS Names"
Sometimes in big datacenter there is a need to distinguish between DNS names of your infrastructure and classify DNS names that have a proper usage e.g. DNS names for VMs, services and so on.

To differentiate between them I am used to maintain a naming scheme by convention e.g.

services: tom1, apa1
VMs: farm01vm01, farm02vm02
Hypervisors: farm01hv01, farm01hv01

Sometimes there are also other na

[2019-12-19 12:37] #78 closed

[2019-12-19 12:50] nemesifier commented on #81
This issue is still not resolve, I created a Google Code-In task for it: `[ipam] Fix segmentation fault in travis build`.

[2019-12-19 15:53] DaffyTheDuck commented on #81
Okay :smile:

[2019-12-19 16:56] DaffyTheDuck commented on #81
Hmm, there's temporary fix available

Okay :smiley:

Sorry for closing it :smiley:

[2019-12-20 13:33] nemesifier commented on #84
@gthieleb I don't fully understand your point.

Are you saying that having a `type` field on the ip address would be helfpul?

[2019-12-20 19:13] nemesifier commented on #66
Adding this as a Google Code-In task.

I think we should use JS based pagination.

If django does the rendering, the server must generate the whole HTML, the client must download it and the browser then renders it anyway.
If django returns only a JSON with the list of ip addresses (one for available and one for taken), the server will return the response a lot faster, the client downloads it also

[2019-12-20 21:04] atb00ker opened #85 "[bug] Javascript error on add subnet page"
I am seeing `Uncaught SyntaxError: Unexpected token ','` on my browser console on the add new subnet page.

[2019-12-29 13:16] waleko commented on #81
I guess, I know what causes the segmentation fault. I debugged the code and found, that exception is being raised deep in sqlite backend when it rollbacks to some previous sql savepoint (doesn't actually matter, but it happens in [test_admin.test_subnet_popup_response](https://github.com/openwisp/django-ipam/blob/master/django_ipam/tests/base/test_admin.py#L68)).

I found the exact same [issue](ht

[2019-12-29 13:30] atb00ker commented on #81
@waleko Great research work.
Have you taken this in GCI?

[2019-12-29 13:59] waleko commented on #81
@atb00ker Yes, I have

[2019-12-30 17:27] #81 closed

[2020-01-09 18:38] #26 closed

[2020-01-09 18:38] nemesifier commented on #85
@atb00ker is this still happening with the latest master?

[2020-01-12 01:19] pawelplsi commented on #66
I'm working on this GCI task and I'd like to suggest a little improvement. IMO the idea of returning two arrays - `available` and `used` generates an unnecessary problem in frontend/js implementation - we have to sort the addresses somehow to display them in the right order, wouldn't it be simpler both in terms of implementation and code cleanness to return one list containing objects composed of

[2020-01-13 06:14] atb00ker commented on #66
@pawelplsi okay, I checked, `available` and `used` are just integers telling how many IPs are used and now many are free, this might be useful for the graphical library used to make that pie chart subnet's change page. :smile:

Currently, `total` and `used_ip` are send to the `change_form.html` page, where `total` is all the IPs and `used_ip` is the IP addresses used. :smile:

I don't see a partic

[2020-01-13 12:01] pawelplsi commented on #66
@atb00ker
Sorry, but I think You're slightly missing the point there

It wasn't about `total` and `used` IP but `available` and `used`, which generates a need to sort the IP's client-side.
Also, the approach I suggested wasn't meant to clean-up frontend, but server - returning one array such as
`[
  {
    'address':'xxx.xxx.xxx.xxx',
    'used':true
  },
  ...
]`
lets us DRY up the code and reuse

[2020-01-13 16:13] nemesifier commented on #66
@pawelplsi yes you're right, go ahead.

[2020-01-13 20:58] pawelplsi commented on #66
@nemesisdesign  Okay, could you explain why do we need a box with seperate scrollbar for it? It doesn't seem really convenient to use to me.

[2020-01-14 15:30] someshkar commented on #79
Is this issue still open/can I work on it?

[2020-01-14 16:09] nemesifier commented on #79
@someshkar there should be GCI tasks for this or other similar ones, look for it in the GCI system.

[2020-01-14 16:17] nemesifier commented on #66
@pawelplsi because the subnet could be huge so the page could become huge.

The best thing we can do is to design a specific part of the page to contain the visualization and make this scrollable, but at the same time you could add a button that allows to show that box in full-screen mode (implies adding another button to exit full-screen mode) this would be the best outcome.

[2020-01-15 18:17] pawelplsi commented on #66
I think we can implement such behavior by moving the infinitely scrollable view to another admin sub-page/url, embedding it in subnet admin page using `iframe` and adding a button opening that view in a fullscreen-sized popup. Do you think it's a good way to go?

[2020-01-15 18:41] nemesifier commented on #66
@pawelplsi no because that would cause the loading of the iframe page to hang anyway.

[The proposal is the way to go](https://github.com/openwisp/django-ipam/issues/66#issuecomment-568049719).

[2020-01-15 19:28] pawelplsi commented on #66
@nemesisdesign  Of course, I know infinite scroll is the way to go and I have it implemented, I want to put it in iframe in order to implement feature you described [there](https://github.com/openwisp/django-ipam/issues/66#issuecomment-574252998), it can't hang then, yes?

[2020-01-17 11:06] nemesifier commented on #66
Why do you think we need an iframe? I don't see the need of an iframe. We can use css (`overflow-x: scroll` and define a min and max height) to display the scrollable box, we don't need to have an `<iframe>`, that's quite an obsolete HTML construct which should be used sparingly only when there's no alternative, it's usually used only to embed content from different websites and domains.

Anyway,

[2020-01-17 12:39] atb00ker commented on #85
@nemesisdesign yes it's there.
The "values" & "label" in data is not getting a value.
[code]

[2020-01-19 20:11] strang1ato commented on #79
@someshkar Are you working on this?

[2020-01-21 11:37] pawelplsi commented on #79
Nobody claimed it on GCI dashboard yet, so now I am working on it :smile:

[2020-01-21 11:56] pawelplsi commented on #79
@atb00ker Should this module support Python2? There's no README entry for it and no travis CI test, but in some other places it's said that it's supported.
And what with django? There's still 1.11 there, in other modules we've droppped everything <2.2, should drop it there as well?

[2020-01-21 12:18] nemesifier commented on #79
No, python 3 only, django 2.2 and django 3.0.

[2020-01-21 15:52] nemesisdesign opened #91 "[admin] Implement "go to" in huge subnet UI"
Continuation of #89.

It would be good to add a way to directly go to a certain address (in the subnet) without having to scroll all the way through.

The case in which an address that is not part of the subnet is entered should be covered, a simple error message will do.
The operations have to be asynchronous (use JS as the infinite scroller).

[2020-01-22 16:29] #79 closed

[2020-01-27 07:45] atb00ker commented on #85
I see this is fixed by #89 but a new error shows:
[code]
Possibly this was hidden because of the previous error! :smile:

[2020-01-28 16:06] atb00ker opened #92 "[docs] Title / content mismatch"
The header `Install Development Version` contains information for `Installation for development`, that'll cause confusion.

1. Move the content under `Install Development Version` to `Installation for development`.
1. Add correct content  under `Install Development Version`.

[2020-01-29 09:28] #92 closed

[2020-02-03 12:41] okraits opened #94 "Getting errors when running a migration for a NetworkField on PostgreSQL"
I'm getting errors when running a migration for a NetworkField on PostgreSQL:

[code]
I tried setting `blank=True, null=True` and tried setting `default="192.168.10/24""` but that didn't help.

I would be grateful for any hints.

[2020-02-03 14:59] okraits commented on #94
I did further investigations. A migration like
[code]
leads to the following SQL statements (from `python manage.py sqlmigrate hal 0006`):
[code]
I think that PostgreSQL doesn't like `cidr DEFAULT 'None'` here.
If I add `default='192.168.1.0/24'` to the definition of the NetworkField in the migration then the migration is executed without errors.

That `DEFAULT 'None'` is added implicitly and not

[2020-02-05 08:34] nemesifier commented on #94
I think the empty representation is being passed as `"None"` (string) instead of `None` (which should be converted to NULL). The column should accept NULL values, but it won't accept empty strings nor "None" strings.

May be this line causing it, but I'm just speculating: https://github.com/openwisp/django-ipam/blob/master/django_ipam/base/fields.py#L56-L57

[2020-02-05 11:11] okraits commented on #94
Good catch! This also removes the `DEFAULT` part in the `ALTER TABLE` statement completely.

I already created a PR.

Thank you very much! :+1:

[2020-02-06 18:35] #94 closed

[2020-02-23 17:13] nemesifier commented on #21
AFAIK this can be closed.

[2020-02-23 17:13] #21 closed

[2020-02-23 17:49] nemesisdesign opened #96 "[subnet-visualizer] Invalid HTML"
In the infinite scrolling subnet visualizer, I noticed that a `<div>` is used to load pages, but that `<div>` is inside a `<ul>` element, which makes it not valid HTML. We should change the structure of the HTML so that it's valid.

We can use something like `<section>` > `<div>` > `<a>` (instead of `<ul>` > `<div>` > `<li><a>`.

CC: @pawelplsi

[2020-02-23 17:53] #66 closed

[2020-02-25 06:11] nepython commented on #96
@nemesisdesign , I checked the templates but found the `<ul>`  within `<div>` and not viceversa at [changeform.html](https://github.com/openwisp/django-ipam/blob/master/django_ipam/templates/admin/django-ipam/subnet/change_form.html#L36). It maybe that I am viewing the wrong template, if so can you please tell me the correct one :)

[2020-02-25 14:15] pawelplsi commented on #96
@nepython It's not in a template, these divs are added dynamicaly by a script.
Anyway, I am working on solving it right now.

[2020-02-25 18:07] #96 closed

[2020-02-25 18:12] nemesisdesign opened #98 "[subnet-visualizer] Links to ip addresses broken"
How to replicate:

- create a large subnet, eg: `fe80::/64`
- try to click on any ip address

Expected outcome: popup to edit/create ip opens up

Actual outcome:

[code]

[2020-02-25 20:47] nemesisdesign opened #100 "[subnet-visualizer] Scroller should remember last page"
Use case:

- create a big ipv6 subnet
- scroll down a few pages
- add a new ip address and watch how the page is reloaded

Ideal behaviour: the scroller reloads the last page that was shown before the add action

Actual behaviour: first page is shown.

The code which reloads the page is: https://github.com/openwisp/django-ipam/blob/master/django_ipam/static/django-ipam/js/custom.js#L6

Maybe inste

[2020-02-25 21:43] #98 closed

[2020-02-25 21:45] nemesisdesign opened #101 "[subnet-visualizer] Allow to click on used ip to change them"
The new subnet visualizer allows adding IP to a subnet but not changing existing ones.

We should change it to allow this.

CC: @pawelplsi

[2020-02-28 15:40] nepython commented on #85
@atb00ker, has this issue been resolved?

I tried to reproduce the errors, but was unable to do so:
![image](https://user-images.githubusercontent.com/54471024/75562372-77bd0480-5a6e-11ea-9015-302a8bbd1932.png)

![image](https://user-images.githubusercontent.com/54471024/75561768-8c4ccd00-5a6d-11ea-85e1-6f95ab3937e5.png)

Though few warnings and errors were raised as can be seen, they were specifi

[2020-02-28 17:01] atb00ker commented on #85
@nepython there have been a lot of fixes lately, if you don't see it, it's possible fixed in another commit recently.
I'll double check and close it if it's not required! :smile:

[2020-02-28 17:14] nepython commented on #101
@nemesisdesign @pawelplsi
Shall I take this issue, I will try to complete it asap.:relaxed:

[2020-02-28 23:41] nemesifier commented on #101
:+1:

[2020-02-29 09:23] atb00ker commented on #85
Thanks for checking @nepython , I think it got fixed during GCI but the GCI student forgot to tag this issue number in the commit hence it's not closed! :smile:

[2020-02-29 09:23] #85 closed

[2020-02-29 19:11] nemesifier commented on #85
thx for updating!

[2020-03-01 13:57] iharshit009 commented on #100
Hi @nemesisdesign I would like to work on this issue.

[2020-03-01 22:54] pawelplsi commented on #91
@nemesisdesign  Somebody else has already taken issues I wanted to work on before, so starting working on this one :smile:

[2020-03-02 09:57] atb00ker commented on #100
@iharshit009 feel free to take any issue that someone is not working on, you don't need to ask for permissions for the same? :smile:

[2020-03-02 15:25] nemesisdesign commented on #91
@pawelplsi ok go ahead :blush:

[2020-03-02 17:43] pawelplsi commented on #91
@nemesisdesign How should it's GUI look like? Something like a search bar, where you have to enter entire IP address, above the visualizer would be okay, or do You have some better idea?

[2020-03-02 21:01] nemesisdesign commented on #91
@pawelplsi yes something like that, keep it simple and make it work, once we get it working I'll think about how to make it look better if needed

[2020-03-11 22:53] #100 closed

[2020-03-13 22:33] #101 closed

[2020-03-16 07:35] lehone-hp commented on #91
@pawelplsi are you still working on this issue because i will like to work on it

[2020-03-17 00:12] nemesisdesign commented on #91
@lehone-hp I think you can go ahead because the last comment on this was more than 2 weeks ago.

[2020-03-17 08:23] pawelplsi commented on #91
Okay, you can go ahead @lehone-hp

[2020-03-17 16:23] lehone-hp opened #105 "[subnet-visualizer] Subnet freespace diagram disappears for slave subnets"
How to replicate this issue.
- Create a new subnet by leaving the Master Subnet field empty.
- Open the newly created subnet and scroll down. The freespace diagram gets displayed.
![Screenshot from 2020-03-17 17-16-30](https://user-images.githubusercontent.com/23194068/76877265-6c8e1500-6873-11ea-90d5-07075d7a7a12.png)
- Now create a slave subnet by setting the previously created subnet as the Mas

[2020-03-17 16:24] lehone-hp commented on #105
@nemesisdesign please I will like to work on this.

[2020-03-17 16:38] nemesifier commented on #105
What do you mean with "Network Hierarchical View does not get rendered properly"?

When I open a subnet who has a master subnet, I see a javascript error in the console:

[code]

Maybe that's the cause which is triggering this?
This needs to be solved for sure and you can proceed with solving that.

@atb00ker this sounds like a bug, do you know if there was any intention in hiding something on sub

[2020-03-17 19:28] lehone-hp commented on #105
@nemesisdesign I mean the subnet tree does not all the branches. It displays just the root node. I think this also has to do with the

`Uncaught TypeError: Cannot read property 'appendChild' of null
`

[2020-03-18 01:31] nemesifier commented on #105
@lehone-hp you can go ahead and fix that JS error

[2020-03-18 09:38] atb00ker commented on #105
@nemesisdesign Yes, it looks like a bug and most probably, a new one, last I checked this thing was working and it should be related to the JS error you pointed out! :smile:

[2020-03-24 00:18] #105 closed

[2020-04-30 18:05] pawelplsi commented on #91
Are you still working on it @lehone-hp?

[2020-04-30 18:07] NoumbissiValere commented on #91
@pawelplsi you can go ahead and work on the issue.

[2020-05-09 07:27] atb00ker opened #107 "[gsoc2020] Add deprecation notice"
Add deprecated notice in the repository after it is merged with the openwisp-ipam module.

[2020-05-13 02:11] nemesifier commented on #84
Closing for inactivity. Feel free to reopen if you're still interested.

[2020-05-13 02:11] #84 closed

[2020-05-13 02:11] nemesifier commented on #107
We should also archive the repo to make it readonly.

[2020-05-13 08:17] atb00ker commented on #84
P.S: This repository is going to be moved here soon : https://github.com/openwisp/openwisp-ipam

[2020-05-13 13:34] atb00ker commented on #107
I don't have the permission to do it, I think you'll have to do it from settings! :smile:

[2020-05-19 03:54] #107 closed